/* Binggrae 빙그레 */
@font-face{
  font-family: Binggrae;
  src : url(./font_file/Binggrae.woff);
}
@font-face{
  font-family: Binggrae-Bold;
  src : url(./font_file/Binggrae-Bold.woff);
}
@font-face{
  font-family: jt-font;
  src : url(./font_file/jt-font.woff);
}

/* Montserrat */
@font-face{
  font-family: Montserrat-Bold;
  src : url(./font_file/Montserrat-Bold.woff);
}
@font-face{
  font-family: Montserrat-ExtraLight;
  src : url(./font_file/Montserrat-ExtraLight.woff);
}
@font-face{
  font-family: Montserrat-Light;
  src : url(./font_file/Montserrat-Light.woff);
}
@font-face{
  font-family: Montserrat-Medium;
  src : url(./font_file/Montserrat-Medium.woff);
}
@font-face{
  font-family: Montserrat-Regular;
  src : url(./font_file/Montserrat-Regular.woff);
}
@font-face{
  font-family: Montserrat-SemiBold;
  src : url(./font_file/Montserrat-SemiBold.woff);
}

@font-face{
  font-family: mugo-font;
  src : url(./font_file/mugo-font.woff);
}

/* NotoSans 노토산스 */
@font-face{
  font-family: NotoSans-Black;
  src : url(./font_file/NotoSans-Black.woff);
}
@font-face{
  font-family: NotoSans-Bold;
  src : url(./font_file/NotoSans-Bold.woff);
}
@font-face{
  font-family: NotoSans-Light;
  src : url(./font_file/NotoSans-Light.woff);
}
@font-face{
  font-family: NotoSans-Medium;
  src : url(./font_file/NotoSans-Medium.woff);
}
@font-face{
  font-family: NotoSans-Regular;
  src : url(./font_file/NotoSans-Regular.woff);
}
@font-face{
  font-family: NotoSans-Thin;
  src : url(./font_file/NotoSans-Thin.woff);
}
@font-face{
  font-family: NotoSansCJKkr-Light;
  src : url(./font_file/NotoSansCJKkr-Light.woff);
}
@font-face{
  font-family: NotoSansCJKkr-Medium;
  src : url(./font_file/NotoSansCJKkr-Medium.woff);
}
@font-face{
  font-family: NotoSansCJKkr-Regular;
  src : url(./font_file/NotoSansCJKkr-Regular.woff);
}
@font-face{
  font-family: noto-Light;
  src : url(.font_file//NotoSansCJKkr-Light.woff);
}
@font-face{
  font-family: noto-Medium;
  src : url(./font_file/NotoSansCJKkr-Medium.woff);
}
@font-face{
  font-family: noto-Regular;
  src : url(./font_file/NotoSansCJKkr-Regular.woff);
}

@font-face{
  font-family: AnticDidone-Regular;
  src : url(./font_file/AnticDidone-Regular.ttf);
}
/* @font-face{
  font-family: ;
  src : url();
} */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

/* pretendard 프리텐다드 */
@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('./font_file/woff2/PretendardVariable.woff2') format('woff2-variations');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url(./woff2/Pretendard-Black.woff2) format('woff2'), url(./woff/Pretendard-Black.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(./woff2/Pretendard-ExtraBold.woff2) format('woff2'), url(./woff/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(./woff2/Pretendard-Bold.woff2) format('woff2'), url(./woff/Pretendard-Bold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url(./woff2/Pretendard-SemiBold.woff2) format('woff2'), url(./woff/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url(./woff2/Pretendard-Medium.woff2) format('woff2'), url(./woff/Pretendard-Medium.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(./woff2/Pretendard-Regular.woff2) format('woff2'), url(./woff/Pretendard-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url(./woff2/Pretendard-Light.woff2) format('woff2'), url(./woff/Pretendard-Light.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url(./woff2/Pretendard-ExtraLight.woff2) format('woff2'), url(./woff/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url(./woff2/Pretendard-Thin.woff2) format('woff2'), url(./woff/Pretendard-Thin.woff) format('woff');
}



/* SUIT */
@font-face {
	font-family: 'SUIT Variable';
	font-weight: 100 200 300 400 500 900;
	src: url('./SUIT-Variable.woff2') format('woff2-variations');
}
@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* ------------------------------------------- */
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* https://unblast.com/fonts/ 폰트 사이트 */

@font-face{
  font-family: Pixer;
  src : url(./font_file/Pixer-Regular.woff);
}
@font-face{
  font-family: Pixer;
  src : url(./font_file/Pixer-Regular.woff2);
}

/* Gmarket 지마켓 */
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* hey november  */
@import url('https://fonts.cdnfonts.com/css/hey-november');
/* font-family: 'Hey November', sans-serif; */

/* LABSAmiga  */
@font-face{
  font-family: 'LABSAmiga';
  src : url(./font_file/6647809f28af789ca1b7f574_LABSAmiga-Regular.woff);
}

/* lush  */
@font-face {
  font-family: 'Parkway Lush';
  src: url('./font_file/ParkwayLush.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

