@import url(./font.css);
:root {
  --mainEng-font: Pretendard Variable;
  --subEng-font: GmarketSansMedium;
  --mainKor-font: Pretendard Variable;
  --mainNum: "Cormorant Garamond";

  --mainBg-color: #f5f5f5;
  /* --main-color: #1779e9; */
  --main-color: #0051F4;
  --svg-main-color: #1f67f8;

  --subBg-color: #333;
  --sub-color-Oyellow: #ffa600;

  --white: #fff;
  --white100r: #ddd;
  --white200r: #bbb;

  --black: #000;
  --black100: #222325;
  --black200_txt: #333;
  --black300: #555;
  --black400: #666;
  --black500: #888;
  --black600: #999;
  --black700: #bbb;
  --black800: #ddd;
  --black900: #eee;

  --po-c{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

body {
  font-family: var(--mainKor-font);
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--black200_txt);

  text-rendering: optimizeLegibility;
  -webkit-font-smooting: antialiased;
  -webkit-text-size-adjust: 100%;
  color: var(--black200r);
  background-color: var(--mainBg-color);
  font-family: var(--mainEng-font);
}
