@charset "UTF-8";
section#home {
  background: var(--mainBg-color);
  border-bottom: 1px solid var(--black600);
  position: relative;
}
section#home .blend {
  background-image: url(/src/img/sticker_texture.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
  mix-blend-mode: color-burn;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
section#home .sect_inner {
  height: 86%;
  background-color: var(--black100);
  text-align: center;
}
section#home .sect_inner .stickers {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 64%;
  border: 1px solid #000;
}
section#home .sect_inner .stickers .sticker {
  margin-top: 40px;
  position: absolute;
  transition: 0.1;
  opacity: 0; /* 기본적으로 투명하게 시작 */
  display: flex;
  justify-content: center;
  align-items: center;
}
section#home .sect_inner .stickers .sticker.black1 {
  transform: rotate(-65deg);
  z-index: 1;
}
section#home .sect_inner .stickers .sticker.black2 {
  transform: rotate(35deg);
}
section#home .sect_inner .stickers .sticker.black2 .img_blend {
  width: 100%;
  height: 100%;
  background-image: url(/src/img/sticker_texture2.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
  mix-blend-mode: color-burn;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 999px;
  z-index: 999;
}
section#home .sect_inner .stickers .sticker.black3 {
  transform: rotate(45deg);
}
section#home .sect_inner .stickers .sticker.blue1 {
  transform: rotate(15deg);
}
section#home .sect_inner .stickers .sticker.blue2 {
  transform: rotate(-35deg);
}
section#home .sect_inner .stickers .sticker.blue2 .img_blend {
  width: 100%;
  height: 100%;
  background-image: url(/src/img/sticker_texture2.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
  mix-blend-mode: color-burn;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 999px;
  z-index: 999;
}
section#home .sect_inner .stickers .sticker.blue3 {
  transform: rotate(195deg);
}
section#home .sect_inner .stickers .sticker.long1 {
  transform: rotate(30deg);
}
section#home .sect_inner .stickers .sticker.long2 {
  transform: rotate(-20deg);
}
section#home .sect_inner .stickers .sticker.long3 {
  transform: rotate(-210deg);
}
section#home .sect_inner .intro_title {
  color: var(--black600);
}
section#home .sect_inner .intro_title p {
  line-height: 1;
}

@media only screen and (min-width: 900px) {
  main section {
    width: 1400px;
    margin: auto;
    width: 100%;
  }
  main section#home {
    height: 100vh;
  }
  main section#home .intro_title p {
    text-align: center;
    font-weight: 700;
  }
  main section#home .intro_title p.publisher {
    font-size: 270px;
    text-transform: uppercase;
  }
  main section#home .intro_title .publisher-stroke {
    width: 500px;
  }
  main section#home .intro_title .publisher-stroke.text {
    stroke: red;
    stroke-width: 2;
  }
  main section#home .sticker {
    width: 250px;
    border-radius: 999px;
  }
  main section#home .sticker img {
    width: 100%;
  }
  main section#home .sticker.black1 {
    left: 31%;
    top: 35%;
  }
  main section#home .sticker.black2 {
    right: 25%;
    top: 10%;
  }
  main section#home .sticker.black3 {
    right: 16%;
    bottom: 12%;
  }
  main section#home .sticker.black4 {
    right: -8%;
    bottom: 18%;
  }
  main section#home .sticker.blue1 {
    right: 2%;
    top: 25%;
  }
  main section#home .sticker.blue2 {
    left: 13%;
    top: 10%;
  }
  main section#home .sticker.blue3 {
    right: 17%;
    bottom: 1%;
  }
  main section#home .sticker.long1 {
    width: 350px;
    left: -2%;
    bottom: 20%;
  }
  main section#home .sticker.long2 {
    width: 350px;
    left: 35%;
    top: 11%;
  }
  main section#home .sticker.long3 {
    width: 350px;
    right: -12%;
    bottom: -5%;
  }
}/*# sourceMappingURL=home.css.map */